.card {
    height: 52rem;
    position: relative;
    perspective: 150rem;
    -moz-perspective: 150rem;

    &__side {
        width: 100%;
        height: 52rem;
        color: white;
        position: absolute;
        top: 0;
        left: 0;
        backface-visibility: hidden;
        transition: all .8s ease;


        &--front {
            background-color: $color-white;
        }

        &--back {
            transform: rotateY(180deg);
            display: flex;
            justify-content: center;

            &-fen {
                background-image: linear-gradient(to right bottom, $color-fen-one, $color-fen-two, $color-fen-three);

                img {
                    width: 10rem;
                    object-fit: contain;
                }
            }

            &-santander {
                background-image: linear-gradient(to right bottom, $color-santander-light, $color-santander-dark);

                img {
                    width: 100%;
                    object-fit: contain;
                }
            }

            &-imagem {
                background-image: linear-gradient(to right bottom, $color-imagem-light, $color-imagem-dark);

                img {
                    width: 100%;
                    object-fit: contain;
                }
            }
        }
    }

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }

    // FRONT SIDE STYLING
    &__picture {
        background-size: cover;
        height: 23rem;
        background-blend-mode: screen;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;

        &--fen {
            background-image: linear-gradient(to right bottom, $color-fen-one, $color-fen-two, $color-fen-three),
                url(../img/fen-social-media.jpg);
        }

        &--santander {
            background-image: linear-gradient(to right bottom, $color-santander-light, $color-santander-dark),
                url(../img/torre-santander.png);
        }

        &--imagem {
            background-image: linear-gradient(to right bottom, $color-imagem-light, $color-imagem-dark),
                url(../img/campo-imagem.jpg);
        }
    }

    &__heading {
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;
        color: $color-white;
        position: absolute;
        top: 12rem;
        right: 2rem;
        width: 55%;

    }

    &__heading-span {
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;

        &--fen {
            background-image: linear-gradient(to right bottom,
                    rgba($color-fen-one, .85),
                    rgba($color-fen-two, .85),
                    rgba($color-fen-three, .85));
        }

        &--santander {
            background-image: linear-gradient(to right bottom,
                    rgba($color-santander-light, .85),
                    rgba($color-santander-dark, .85));
        }

        &--imagem {
            background-image: linear-gradient(to right bottom,
                    rgba($color-imagem-light, .85),
                    rgba($color-imagem-dark, .85));
        }
    }

    &__details {
        padding: 3rem;
        color: $color-primary-dark;

        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto;

            li {
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;

                &:not(:last-child) {
                    border-bottom: 1px solid $color-grey-dark-light;
                }
            }
        }
    }



    @include respond(tab-port) {
        height: auto;
        border-radius: 3px;
        background-color: $color-white;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

        &__side {
            height: auto;
            position: relative;
            box-shadow: none;

            &--back {
                transform: rotateY(0);
                -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
                clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
                padding: 10rem 0;
            }
        }

        &:hover &__side--front {
            transform: rotateY(0);
        }

        &__details {
            padding: 1rem 3rem;
        }
    }
}